html 
    head 
        style
            include home.css
    body
        aside.sidebar: h1.title Good vibes only
            h3.yourProfile Ton profil
            .userInfo
                img.userIcon(src='/icons/user.png')
                h4.username #{user.username}
                h5.pseudo @#{user.pseudo}
                .biography #{user.biography}

            a(href="/update-profile"): button.modifyBtn Modifier
        .main
            h1.pageTitle 
                | Bienvenue sur ton fil de positivité 
                span.titleUsername #{user.username}
                |  !

            form.creation(action="/add-post" method="POST")
                textarea(name="content" placeholder="Rédiger un nouveau post.." rows="3" cols="50")
                button(type="submit") Créer

            for post in AllPosts
                .post
                    h4 Posté par #{post.users.username} (@#{post.users.pseudo}) 
                    p.content #{post.content}
                    p.date=new Date(post.created_at).toLocaleString()
