html 
    head 
        style
            include profile.css
    body
        aside.sidebar: h1.title Good vibes only
            h3.yourProfile Ton profil
            .userInfo
                img.userIcon(src='/icons/user.png')
                h4.username #{user.username}
                h5.pseudo @#{user.pseudo}
                .biography #{user.biography}

            a(href="/update-profile"): button.modifyBtn Modifier
            a(href="/home"): button.homeBtn Accueil
        .main
            h1.pageTitle 
                | Voici tes posts 
                span.titleUsername #{user.username}
                |  !


            for post in personalPosts
                .post
                    h4 Posté par #{post.users.username} (@#{post.users.pseudo}) 
                    p.content #{post.content}
                    .bottom-info
                        p.date=new Date(post.created_at).toLocaleString()
                        form(action=`/delete-post/${post.id}` method="POST" class="delete-form")
                            button.delete(type="submit") 🗑
            