html 
    head 
        style
            include profile.css
    body
        aside.sidebar: h1 Good vibes only
            h3 Votre profil
            .userInfo
                img.userIcon(src='/icons/user.png')
                h4.username #{user.username}
                h5.pseudo @#{user.pseudo}
                .biography #{user.biography}

            a(href="/update-profile"): button.modifyBtn Modifier
        .main
            h1 Voici ton fil personnel #{user.username} !


            for post in personalPosts
                .post
                    h4 Posté par #{post.users.username} (@#{post.users.pseudo}) 
                    p #{post.content}
                    p=new Date(post.created_at).toLocaleString()
            